.header {
    background-color: rgb(18, 0, 75);
    color: white;
    box-shadow: azure;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 10px;
}